/practice/nbproject/private/
/practice/build/
/Lab2/nbproject/private/
/Lab2/build/
/JavaApplication4/build/
/priorityScheduling/nbproject/private/
/ExceptionHandlingFolder/nbproject/private/
/ExceptionHandlingFolder/build/
